<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The New World</title>
    <style type ="text/css">
       #gis {width:90%; height:700px}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">	
    
    <script type="text/javascript" src="{% static 'dist\leaflet.ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
    <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}" ></script>
</head>
<body>
    <h3>kire, kemon achis</h3>
    <br>
    <script type="text/javascript">
        function our_layers(map,options){

            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			});
            var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 17,
                attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            });
            var datasets = new L.GeoJSON.AJAX(" {% url 'world:county' %}",{

                style: function colors(feature){
                    switch(feature.properties.counties){
                        case 'WAJIR':
                            return{
                                color: 'orange',
                                fillOpacity: 0.8
                            };
                        break;
                        case 'ISIOLO':
                            return{
                                color: 'purple',
                                fillOpacity: 0.8
                            };
                        break;
    
                    }
                },
                onEachFeature: function(feature,layer){
                    layer.bindPopup(feature.properties.counties.toString())
                }
            });
            var points = new L.GeoJSON.AJAX(" {% url 'world:incidence' %}",{
                onEachFeature: function(feature,layer){
                    layer.bindPopup(feature.properties.name.toString())
                }
            });

            datasets.addTo(map);
            points.addTo(map);

            var baseLayers = {
                "OSM": osm,
                "OpenTopoMap":OpenTopoMap
            }
    
            var groupedOverlays = {
              "Layers": {
                "counties": datasets,
                "incidences": points
              }
    
            };
    
            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

            var routing =  L.Routing.control({
                waypoints: [
                L.latLng(-0.23, 36.87),
                L.latLng(0.23, 37.64)
                ]
              }).addTo(map);
            
        }

    </script>
    {% leaflet_map "gis" callback="window.our_layers"%}
</body>
</html>